.DS_Store
*.pyc
*.swp
debug
.vscode/*
!.vscode/launch.json
config/*
!config/*.example
models
*.mp4
*.ts
!*.spec.ts
*.db
*.csv
frigate/version.py
web/build
node_modules
web/coverage
core
!/web/**/*.ts
.idea/*
test-results
playwright-report
blob-report
.cache